.print-pdf .reveal ul li,
.print-pdf .reveal h2,
.print-pdf .reveal h3,
.print-pdf .reveal h4,
.print-pdf .reveal h5 {
    font-size: 80%;
    line-height: 120%;
}

.print-pdf .reveal h1 {
    font-size: 100%;
}

.print-pdf .reveal pre code {
    font-size: 80%;
}


.reveal {
    font-size: 36px;
}

.reveal .slides {
    width: 90% !important;
}

.reveal .slides > section {
    padding: 0;
}

.reveal pre code {
    max-height: 700px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
    text-transform: none;
}

div.flex {
    display: flex;
    justify-content: space-around;
}

div.flex > div, div.flex > ul, div.flex > pre {
    width: 49%;
}